@layout('main')

@section('content')
<h1>{{ title }}</h1>
  <div class="list-group">

    @if(old('notification'))
      <div class="alert alert-success" role="alert">
        {{ old('notification') }}
      </div>
    @endif
    
    @each(item in tasks)
    <a href="/task/{{ item.id }}" class="list-group-item list-group-item-action">{{ item.title }}</a>
    @endeach

  </div>
@endsection